header
{
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	align-items: center;
	margin: 0;
	border-bottom: 2px solid #112D4E;
	color: #112D4E;
	transition: all 0.7s;
}

#hide-nav
{
	margin-left: 40px;
	transition-duration: 700ms;
	transition-property: transform;
}

#hide-nav:hover
{
	background-color: #ececec;
	border-radius: 13px;
	padding: 8px;
	margin-left : 32px;
	cursor: pointer;
}

#hide-nav:active
{
	opacity: 0.4;
}

#logo
{
	display: flex;
	flex-direction: row;
	align-items: center;
}