header
{
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	align-items: center;
	margin: 0;
	border-bottom: 2px solid #112D4E;
	color: #112D4E;
}

#hide-nav
{
	margin-left: 40px;
}

#hide-nav:hover
{
	/* transform: scale(1.10); */
	background-color: #eff1f5;
	border-radius: 13px;
	padding: 8px;
	margin-left : 32px;
	cursor: pointer;
}

#hide-nav:active
{
	opacity: 0.4;
}

#logo
{
	display: flex;
	flex-direction: row;
	align-items: center;
}