nav > div
{
	box-sizing: border-box;
}

nav
{
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-right: 14px;
	padding-left: 14px;
	width: 280px;
	border-right: 3px solid black;
}

#Home > h2, #Projects > h2
{
	border-bottom: 2px solid black;
	margin-bottom: 0;
	font-size: 30px;
}

#project-creator
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 7px;
}

#project-creator > div
{
	width: 100%;
	text-align: center;
}

#submit-cancel-project
{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 7px;
}

#projectName
{
	width: 76%;
	font-size: 16px;
	height: 20px;
	padding: 5px;
}

#submit-cancel-project > button
{
	padding-left: 29.5px;
	padding-right: 29.5px;
	height: 21px;
}

#project-name-icon
{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	padding-left: 22px;
	height: 35px;
}

#project-name-icon:hover
{
	transform: scale(1.10);
	cursor: pointer;
	padding-left: 32px;
}

#project-name-icon > h4
{
	font-size: 20px;
	font-weight: normal;
}

#Home > div
{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	padding-left: 22px;
	height: 35px;
}

#all-tasks
{
	margin-top: 15px;
}

#Home > div > h3
{
	font-weight: normal;
}

#Home > div:hover
{
	transform: scale(1.18);
	cursor: pointer;
	padding-left: 38px;
}

#add-button-icon
{
	display: flex;
	flex: row;
	align-items: center;
	gap: 10px;
	justify-content: center;
	height: 35px;
    margin-top: 6px;
	width: 60%;
}


#add-button-icon:hover
{
	transform: scale(1.10);
	cursor: pointer;
}

#project-button
{
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 8px;
}

#global-button-icon
{
	display: flex;
	justify-content: right;
}

#add-button-icon:active
{
	opacity: 0.6;
}

.submit-project
{
	background-color: rgb(0, 158, 0);
	color: white;
	border-radius: 5px;
	border: 1px solid grey;
	border: 1px solid white;
	width: 102.5px;
}

.cancel-project
{
	background-color: rgb(252, 38, 38);
	color: white;
	border-radius: 5px;
	border: 1px solid white;
}

.cancel-project:hover, .submit-project:hover
{
	transform: scale(1.04);
}

.cancel-project:active, .submit-project:active
{
	opacity: 0.8;
}

#projectName:focus
{
	outline: none;
	border: 2px solid black;
	border-radius: 3px;
}

#remove-project-icon:hover
{
	cursor: pointer;
	transform: scale(1.30);
}


#remove-project-icon:active
{
	opacity: 0.5;
}