nav > div
{
	box-sizing: border-box;
}

nav
{
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 14px;
}

#Projects > div /* Notes later */
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#Home > h2
{
	border-bottom: 3px solid black;
}

#project-title
{
	border-bottom: 3px solid black;
	height: 28px;
}

#project-list
{
	display: block;
}