nav > div
{
	box-sizing: border-box;
}

nav
{
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-right: 14px;
	padding-left: 14px;
	width: 260px;
	border-right: 3px solid black;
}

#projects-title
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#Home > h2
{
	border-bottom: 2px solid black;
	margin-bottom: 0;
}

#Home > h2, #projects-title > h2
{
	font-size: 30px;
}

#projects-title
{
	height : 41px;
	border-bottom: 2px solid black;
}

#project-creator
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

#project-creator > div
{
	width: 100%;
	text-align: center;
}

#submit-cancel-project
{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

#projectName
{
	width: 68%;
	font-size: 18px;
	height: 28px;
}

#submit-cancel-project > button
{
	padding-left: 8px;
	padding-right: 8px;
}

#project-name-icon
{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	padding-left: 22px;
	height: 35px;
}

#project-name-icon:hover
{
	transform: scale(1.10);
	cursor: pointer;
	padding-left: 32px;
}

#project-name-icon > h4
{
	font-size: 20px;
	font-weight: normal;
}

#Home > div
{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	padding-left: 22px;
	height: 35px;
}

#all-tasks
{
	margin-top: 15px;
}

#Home > div > h3
{
	font-weight: normal;
}

#Home > div:hover
{
	transform: scale(1.18);
	cursor: pointer;
	padding-left: 38px;
}