#project-title-show
{
	font-size: 50px;
	border: 2px solid #112D4E;
	background-color: #112D4E;
	color: #F9F7F7;
	border-radius: 3px;
	flex-grow: 1;
	word-wrap: break-word;
	overflow: auto;
	width: 0;
	padding-left: 40px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 30px;
	margin-top: 0;
}

#priority-block
{
	display: flex;
	flex-direction: column;
}

#date-priority
{
	display: grid;
	grid-template-columns: 1fr 1fr ;
	gap: 30px;
}

#add-cancel-task
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-top: 17px;
}

#task-title
{
	width: 100%;
	box-sizing: border-box;
	margin-top: 5px;
}

#task-block
{
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 30px;
	padding-bottom: 20px;
	background-color: #e6eaf2;
}

#priority-choice
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px;
	margin-top: 5px;
}

#title-block > input
{
	font-size: 20px;
	height: 40px;
}

#due-date > input
{
	font-size: 17px;
	height: 30px;
}

#task-block > div
{
	font-size: 20px;
}

#task-due-date
{
	width: 100%;
	margin-top: 5px;
}

#task-due-date:focus
{
	outline: none;
	border: 2px solid #112D4E;
	border-radius: 3px;
}

#priority-choice > button
{
	height: 30px;
	width : 32%;
}

#priority-choice > button:active
{
	opacity: 0.8;
}

#task-button
{
	color: #112D4E;
	transition: all 0.5s;
}

#task-button:hover
{
	transform: scale(1.12);
	cursor: pointer;
}

#task
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	border: 1px solid #DBE2EF;
	box-sizing: border-box;
	margin-top: 10px;
	transition: transform 0.7s;
}

#task-checkbox
{
	display: flex;
	align-items: center;
	flex-grow: 1;
	width: 0;
	margin-left: 12px;
}

#task-checkbox > h3
{
	overflow: auto;
	word-wrap: break-word;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: normal;
	color: #112D4E;
}

input.task-check
{
	min-width: 20px;
	min-height: 20px;
	cursor: pointer;
	margin-right: 20px;
	accent-color: #112D4E;
}

input.task-check:hover
{
	transform: scale(1.10);
}

input.task-check:active, .remove-task:active
{
	opacity: 0.6;
}

.remove-task
{
	width: 20px;
	height: 20px;
	text-align: center;
	cursor: pointer;
	margin-right: 12px;
}

.remove-task:hover
{
	transform: scale(1.18);
}

#task-title:focus
{
	outline: none;
	border: 2px solid #112D4E;
	border-radius: 3px;
}

#cancel-task-button
{
	background-color: rgb(252, 38, 38);
	color: white;
	border-radius: 5px;
	border: none;
}

#add-task-button
{
	background-color: rgb(0, 158, 0);
	color: white;
	border-radius: 5px;
	border: none
}

#add-cancel-task > button
{
	width: 50%;
	height: 31px;
}

#add-cancel-task > button:hover
{
	opacity: 0.8;
}

#add-cancel-task > button:active
{
	opacity: 0.5;
}

#low
{
	background-color: white;
	border: 1px solid #00c417;
	color: #00c417;
	border-radius: 3px;
}

#low:hover
{
	color: white;
	background-color: #00c417;
}

#medium
{
	background-color: white;
	border: 1px solid #FFA500 ;
	color: #FFA500;
	border-radius: 3px;
}

#medium:hover
{
	background-color: #FFA500;
	color: white;
}

#high
{
	background-color: white;
	border: 1px solid #FF0000 ;
	color: #FF0000;
	border-radius: 3px;
}

#high:hover
{
	background-color: #FF0000;
	color: white;
}
#task:hover
{
	transform: scale(1.01);
	box-shadow: 2px 2px 7px #DBE2EF;
}

#taskform-and-icon
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
}

#title-of-project
{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 60px;
	margin-right: 60px;
}

#add-task-block
{
	display: flex;
	justify-content: right;
}

label
{
	color: #112D4E;
}

#excited-vector
{
	display: flex;
	flex-direction: column ;
	justify-content: center;
	align-items: center;
}

#no-tasks-title
{
	font-size: 29px;
	color: #112D4E;
	margin-bottom: 0;
	margin-top: 14px;
}

#article-container
{
	padding-left: 60px;
	padding-right: 60px;
	margin-right: 2px;
	flex-grow: 1;
	height: 0;
	overflow-y: auto;
}

::-webkit-scrollbar
{
	width: 5px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	background: #112D4E; 
}

::-webkit-scrollbar-track
{
	background: #F9F7F7; 
}

::-webkit-scrollbar-thumb:hover {
	opacity: 0.6;
  }