body
{
	margin: 0;
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100vh;
}

li
{
	list-style-type: none;
	font-size: 21px;
	line-height: 37px;
}

button
{
	cursor: pointer;
}

main
{
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 3px;
}

#Projects > ul > li:active
{
	opacity: 0.5;
}

article
{
	padding-left: 60px;
	padding-right: 60px;
	display: flex;
	flex-direction: column;
}

ul
{
	padding-left: 23px;
	margin-top: 12px;
	margin-bottom: 12px;
}