body
{
	margin: 0;
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100vh;
}

li
{
	list-style-type: none;
	font-size: 23px;
	line-height: 37px;
}

button
{
	cursor: pointer;
}

header
{
	border: 1px solid blue;
	box-sizing: border-box;
	margin: 5px;
}

main
{
	display: grid;
	/* grid-template-columns: 1.5fr 4fr; */
	grid-template-columns: minmax(250px, 300px) 1fr;
	gap: 3px;
	margin: 5px;
}

nav, article
{
	border: 1px solid blue;
	box-sizing: border-box;
}

li:hover
{
	cursor: pointer;
	border-radius: 10px;
	background-color: rgb(201, 201, 201);
}

#Projects > ul > li:active
{
	opacity: 0.5;
}

article
{
	padding-left: 60px;
	padding-right: 60px;
}